@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root{
    --green:#f6a0ad;
    --green-dark:#13bc7e;
    --light-grey:#F1f4f6;
    --pink-dark:#fb7186;
    --pink-light:#ffe4e8;
}
*{
    font-family:'Roboto',sans-serif;
}
/**/
/* misc stylings*/
ul li{
    list-style-type: none;
}
.container{
    max-width:1200px;
}
.display-1{
    letter-spacing:1px;
}
.bg-green{
    background-color: var(--green) !important;
}
.bg-pink-dark{
    background-color: var(--pink-dark) !important;
}
.bg-pink-light{
    background-color: var(--pink-light) !important;
}
.btn{
    border:2px solid #fff;
    border-radius:1.5rem;
    padding:0.6rem 0;
    width:160px;
}
.bg-grey{
    background-color: var(--light-grey);
}
.circle-icon{
    width:55px;
    height:55px;
    border-radius:50%;
    background-color:var(--green);
}
.lh-lg{
    line-height: 1.7 !important;
}
.btn-green{
    background-color: var(--green);
    color: #fff;
    padding: 0.55rem 0;
    width:140px;
}
.btn-green:hover{
    color:var(--green);
    background-color: #fff;
    border-color: var(--green);
}
.text-green{
    color: var(--green);
}
.text-pink-dark{
    color: var(--pink-dark);
}
.input-search-javascript{
    padding-left: 20px;
    height:40px;
    border-radius:20px;
    border-bottom-right-radius:20px;
    width:300px;
    color: var(--pink-dark);
    border:1px solid var(--pink-dark); 
}
/* header*/
header{
    height:;
}
.navbar-brand .fa{
    font-size:1.3rem;
}
.nav-icons p{
    font-size:1rem;
    margin-right:0.6rem;
}
.btn-header:hover{
    background-color:#fff;
    color:var(--green) !important;
}
.phone-img img{
    width: 500px;
}
.btn-green{
    background-color: var(--green);
    color: #fff;
    padding: 0.55rem 0;
    width:140px;
}
.btn-green:hover{
    color:var(--green);
    background-color: #fff;
    border-color: var(--green);
}
.text-green{
    color: var(--green);
}


/* Responsive */
@media screen and (max-width: 900px){

}